# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/
.env/
venv.bak/

# Pytest cache
.pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Python tooling
.mypy_cache/
.pyre/
.pytype/
coverage.xml
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints

# pip
pip-wheel-metadata/

# Logs
*.log
